{% extends 'layout.html' %}
{% block content %}
    <div class='row'>
        <div class='col-md-5'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class='alert alert-{{ category }} flash-message'> {{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% for post in posts %}
                <div class='content-section'>
                    <div class="content-head row">
                        <div class='content-app col-md-3'>
                           <a href="#">{{ post.app }}</a> 
                        </div>
                        <div class='text-muted content-date'>
                            {{ post.date_posted }}
                        </div>
                    </div>
                    <div >
                        <a class='content-email' href="#">{{post.email}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class='col-md-7'>
            <div class='content-section-form'>
                <form action="#" method="POST">
                    <legend class='text-center'>
                        Add Password
                    </legend>
                    {{ form.app (placeholder=form.app.label.text, class='col-xl-12') }}
                    {{ form.username (placeholder=form.username.label.text, class='col-xl-12') }}
                    {{ form.email (placeholder=form.email.label.text , class='col-xl-12') }}
                    {{ form.password (placeholder=form.password.label.text , class='col-xl-12') }}
                    {{ form.password_len(value=8, min=5, max=50, disabled=True) }} <span id='length'></span> 
                    {{form.generate.label (class='m-1 ml-1')}} {{ form.generate }}
                    {{ form.view.label (class='ml-3')}} {{ form.view }}
                    <div class='mt-1 mb-1'>
                        {{ form.submit (class='btn btn-outline-primary') }} 
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}