{% extends 'layout.html' %}
{% block content %}
    <div class='row'>
        <div class='col-md-6'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class='alert alert-{{ category }} flash-message'> {{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% for post in posts %}
                <div class='content-section'>
                    <div class="content-head row">
                        <div class='content-app col-md-3'>
                           <a href="#">{{ post.app }}</a> 
                        </div>
                        <div class='text-muted content-date'>
                            {{ post.date_posted }}
                        </div>
                    </div>
                    <div >
                        <a class='content-email' href="#">{{post.email}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class='col-md-5'>
            <div class='add_password'>
                <h1>add_password</h1>
            </div>
        </div>
    </div>
{% endblock content %}