<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' , type='text/css' , href="{{ url_for('static', filename='main.css') }}" {% if title %}
        <title>Password Manager - {{ title }}</title>
    {% else %}
    <title>Password Manager</title>
    {% endif %}
</head>

<body>
    <header>
        <nav class='navbar navbar-dark bg-dark navbar-expand-md fixed-top'>
            <div class='container'>
                <a class='navbar-brand' href='/'>Password Manager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class='collapse navbar-collapse' id='navbarSupportedContent'>
                    <div class='navbar-nav mr-auto'>
                        <a class='nav-item nav-link' href="{{ url_for('home') }}">Home</a>
                        <a class='nav-item nav-link' href="{{ url_for('account') }}">Account</a>
                    </div>
                    {% if current_user.is_authenticated %}
                        <div class='align-items-center col-auto'>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    {% endif %}

                    <div class='navbar-nav'>
                        {% if current_user.is_authenticated %}
                            <a class='nav-item nav-link' href="{{ url_for('logout') }}">Logout</a>
                        {% else %}
                            <a class='nav-item nav-link' href="{{ url_for('login') }}">Login</a>
                            <a class='nav-item nav-link' href="{{ url_for('register') }}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class='container mt-5'>
        {% block content %}{% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        let password_length = document.getElementById('password_len');
        let password = document.getElementById('password');
        let return_length = document.getElementById('length');
        let generate = document.getElementById('generate');
        let submit = document.getElementById('submit');
        let view_password = document.getElementById('view');
        return_length.innerHTML = password_length.value;
        var generate_bool = false;

        view.onclick = function(){
            if(password.type === 'text'){
                password.type = 'password';
            }else{
                password.type = 'text';
            }
        }

        submit.onclick = function(){
            generate.value = false;
            password.value = null;
            password_length.disabled=true;
            view.value= false;
        }

        generate.onclick = function(){
            generate_bool = generate.checked;
            password_length.disabled = !generate_bool;
        }
        
        password_length.oninput = function () {
            if(generate_bool){
                password_length.disabled=false;
                return_length.innerHTML = this.value;
                let generated_password = generate_password(password_length.value);
                password.value = generated_password;
            }
        }

        function generate_password(length) {
            char = "!\"#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKlMNOPQRSTUVWXYZ][^_`abcdefghijklmnopqrstuvwxyz{|}~"

            let generated_password = '';

            for(let i=0, n=char.length; i<length; i++){
                generated_password += char.charAt(Math.floor(Math.random() * n));
            }
            return generated_password;
        }
    </script>
</body>
</html>